<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [9]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [10]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv"

To obtain the dataset, utilize the download() function as defined above:

In [11]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [12]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [13]:
Duplicated=df.duplicated().sum()
print(Duplicated)
df.shape

0

(64461, 61)

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [14]:
df.drop_duplicates()

print(df.duplicated().value_counts())

False    64461
dtype: int64

Verify if duplicates were actually dropped.

In [15]:
# your code goes here
df.shape

(64461, 61)

## Finding Missing values

Find the missing values for all columns.

In [34]:
missing = df.isnull()
for column in missing.columns.values.tolist():
    print(column)
    print (missing[column].value_counts())

Respondent
False    64461
Name: Respondent, dtype: int64
MainBranch
False    64162
True       299
Name: MainBranch, dtype: int64
Hobbyist
False    64416
True        45
Name: Hobbyist, dtype: int64
Age
False    64461
Name: Age, dtype: int64
Age1stCode
False    57900
True      6561
Name: Age1stCode, dtype: int64
CompFreq
False    40069
True     24392
Name: CompFreq, dtype: int64
CompTotal
False    34826
True     29635
Name: CompTotal, dtype: int64
ConvertedComp
False    34756
True     29705
Name: ConvertedComp, dtype: int64
Country
False    64072
True       389
Name: Country, dtype: int64
CurrencyDesc
False    45472
True     18989
Name: CurrencyDesc, dtype: int64
CurrencySymbol
False    45472
True     18989
Name: CurrencySymbol, dtype: int64
DatabaseDesireNextYear
False    44070
True     20391
Name: DatabaseDesireNextYear, dtype: int64
DatabaseWorkedWith
False    49537
True     14924
Name: DatabaseWorkedWith, dtype: int64
DevType
False    49370
True     15091
Name: DevType, dtype: int64
EdLevel
False    57431
True      7030
Name: EdLevel, dtype: int64
Employment
False    63854
True       607
Name: Employment, dtype: int64
Ethnicity
False    45948
True     18513
Name: Ethnicity, dtype: int64
Gender
False    50557
True     13904
Name: Gender, dtype: int64
JobFactors
False    49349
True     15112
Name: JobFactors, dtype: int64
JobSat
False    45194
True     19267
Name: JobSat, dtype: int64
JobSeek
False    51727
True     12734
Name: JobSeek, dtype: int64
LanguageDesireNextYear
False    54113
True     10348
Name: LanguageDesireNextYear, dtype: int64
LanguageWorkedWith
False    57378
True      7083
Name: LanguageWorkedWith, dtype: int64
MiscTechDesireNextYear
False    42379
True     22082
Name: MiscTechDesireNextYear, dtype: int64
MiscTechWorkedWith
False    40314
True     24147
Name: MiscTechWorkedWith, dtype: int64
NEWCollabToolsDesireNextYear
False    47287
True     17174
Name: NEWCollabToolsDesireNextYear, dtype: int64
NEWCollabToolsWorkedWith
False    52883
True     11578
Name: NEWCollabToolsWorkedWith, dtype: int64
NEWDevOps
False    42686
True     21775
Name: NEWDevOps, dtype: int64
NEWDevOpsImpt
False    41732
True     22729
Name: NEWDevOpsImpt, dtype: int64
NEWEdImpt
False    48465
True     15996
Name: NEWEdImpt, dtype: int64
NEWJobHunt
False    42286
True     22175
Name: NEWJobHunt, dtype: int64
NEWJobHuntResearch
False    41022
True     23439
Name: NEWJobHuntResearch, dtype: int64
NEWLearn
False    56156
True      8305
Name: NEWLearn, dtype: int64
NEWOffTopic
False    50804
True     13657
Name: NEWOffTopic, dtype: int64
NEWOnboardGood
False    42623
True     21838
Name: NEWOnboardGood, dtype: int64
NEWOtherComms
False    57205
True      7256
Name: NEWOtherComms, dtype: int64
NEWOvertime
False    43231
True     21230
Name: NEWOvertime, dtype: int64
NEWPurchaseResearch
False    37321
True     27140
Name: NEWPurchaseResearch, dtype: int64
NEWPurpleLink
False    54803
True      9658
Name: NEWPurpleLink, dtype: int64
NEWSOSites
False    58275
True      6186
Name: NEWSOSites, dtype: int64
NEWStuck
False    54983
True      9478
Name: NEWStuck, dtype: int64
OpSys
False    56228
True      8233
Name: OpSys, dtype: int64
OrgSize
False    44334
True     20127
Name: OrgSize, dtype: int64
PlatformDesireNextYear
False    50605
True     13856
Name: PlatformDesireNextYear, dtype: int64
PlatformWorkedWith
False    53843
True     10618
Name: PlatformWorkedWith, dtype: int64
PurchaseWhat
False    39364
True     25097
Name: PurchaseWhat, dtype: int64
Sexuality
False    43992
True     20469
Name: Sexuality, dtype: int64
SOAccount
False    56805
True      7656
Name: SOAccount, dtype: int64
SOComm
False    56476
True      7985
Name: SOComm, dtype: int64
SOPartFreq
False    46792
True     17669
Name: SOPartFreq, dtype: int64
SOVisitFreq
False    56970
True      7491
Name: SOVisitFreq, dtype: int64
SurveyEase
False    51802
True     12659
Name: SurveyEase, dtype: int64
SurveyLength
False    51701
True     12760
Name: SurveyLength, dtype: int64
Trans
False    49345
True     15116
Name: Trans, dtype: int64
UndergradMajor
False    50995
True     13466
Name: UndergradMajor, dtype: int64
WebframeDesireNextYear
False    40024
True     24437
Name: WebframeDesireNextYear, dtype: int64
WebframeWorkedWith
False    42279
True     22182
Name: WebframeWorkedWith, dtype: int64
WelcomeChange
False    52683
True     11778
Name: WelcomeChange, dtype: int64
WorkWeekHrs
False    41151
True     23310
Name: WorkWeekHrs, dtype: int64
YearsCode
False    57684
True      6777
Name: YearsCode, dtype: int64
YearsCodePro
False    46349
True     18112
Name: YearsCodePro, dtype: int64
NormalizedAnnualCompensation
False    34826
True     29635
Name: NormalizedAnnualCompensation, dtype: int64

In [ ]:
# your code goes here

## Imputing missing values

Find the  value counts for the column Age.

In [17]:
df['Age'].value_counts()

25.0    2693
28.0    2412
30.0    2406
26.0    2391
27.0    2338
        ...
34.5       1
14.7       1
97.0       1
3.0        1
14.5       1
Name: Age, Length: 110, dtype: int64

Find the median for the column Age

In [18]:
df['Age'].median()

29.0

Impute the median value to Age column

In [19]:
df['Age'].fillna(29.0, inplace=True)
df.columns[df.isnull().any()]

Index(['MainBranch', 'Hobbyist', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

Identify the value that is most frequent (majority) in the Country column.

In [20]:
df['Country'].mode()

0    United States
Name: Country, dtype: object

Drop all the missing values from the dataset

In [25]:
df['Hobbyist'].isnull().sum()  
df.dropna()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
9,10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
32,33,I am a developer by profession,Yes,39.0,14,Monthly,4900.0,63564.0,Belgium,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;React.js;Ruby on Rails,Angular;Angular.js;Django;Express;React.js,Just as welcome now as I felt last year,40.0,20,14
41,42,I am a developer by profession,No,32.0,14,Yearly,130000.0,130000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Spring,ASP.NET;Flask;React.js;Spring,Somewhat less welcome now than last year,37.0,16,10
46,47,I am a developer by profession,Yes,53.0,10,Yearly,58000.0,74970.0,United Kingdom,Pound sterling,...,Neither easy nor difficult,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Spring,Flask;Spring,Just as welcome now as I felt last year,40.0,43,28
68,69,I am a developer by profession,Yes,25.0,12,Yearly,550000.0,594539.0,France,European Euro,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask,Just as welcome now as I felt last year,40.0,13,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61636,62886,I am a developer by profession,Yes,32.0,24,Yearly,102700.0,102700.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular,Angular;Angular.js;ASP.NET Core,Somewhat more welcome now than last year,45.0,7,5
61654,62904,I am a developer by profession,Yes,33.0,24,Yearly,95000.0,95000.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;Laravel;React.js;Vue.js,Just as welcome now as I felt last year,50.0,9,7
61993,63288,I am a developer by profession,No,31.0,16,Yearly,65000.0,84019.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Express,Angular;Angular.js;Express,Just as welcome now as I felt last year,40.0,14,7
63141,64523,I am a developer by profession,No,29.0,15,Monthly,8500.0,23364.0,Brazil,Brazilian real,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core;React.js;Vue.js,ASP.NET;ASP.NET Core;jQuery,Somewhat more welcome now than last year,40.0,19,17
63517,64938,I am a developer by profession,No,33.0,13,Yearly,55000.0,59454.0,France,European Euro,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Django;Flask;jQuery;Ruby on Rails,Just as welcome now as I felt last year,40.0,20,12

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [29]:
df['CompFreq'].mode() 
df.CompFreq.value_counts().index

Index(['Yearly', 'Monthly', 'Weekly'], dtype='object')

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [40]:
annual_comp=[]
both = zip(df['CompFreq'], df['CompTotal']) 
for x, y in both:
    if x=='Yearly':
        annual_comp.append(y)
    elif x=='Monthly':
        annual_comp.append(y*12)
    else:
        annual_comp.append(y*52)

df['NormalizedAnnualCompensation'] = annual_comp        
df[['NormalizedAnnualCompensation']]

       NormalizedAnnualCompensation
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
64456                           NaN
64457                           NaN
64458                           NaN
64459                           NaN
64460                           NaN

[64461 rows x 1 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).